<section class="crap-graph">
    <div class="graph-bod {{ color }}">
      <div class="bar ones" [ngStyle]="{'height.%': someGraph.percentages[0]}">
        <span class="percSpan">{{ someGraph.percentages[0] }}% of the time</span>
      </div>
      <div class="bar tens" [ngStyle]="{'height.%': someGraph.percentages[1]}">
          <span class="percSpan">{{ someGraph.percentages[1] }}% of the time</span>
      </div>
      <div class="bar twenties" [ngStyle]="{'height.%': someGraph.percentages[2]}">
          <span class="percSpan">{{ someGraph.percentages[2] }}% of the time</span>
      </div>
      <div class="bar thirties" [ngStyle]="{'height.%': someGraph.percentages[3]}" *ngIf="someGraph.percentages[3]">
          <span class="percSpan">{{ someGraph.percentages[3] }}% of the time</span>
      </div>
      <div class="bar forties" [ngStyle]="{'height.%': someGraph.percentages[4]}" *ngIf="someGraph.percentages[3]">
          <span class="percSpan">{{ someGraph.percentages[4] }}% of the time</span>
      </div>
      <div class="bar fifties" [ngStyle]="{'height.%': someGraph.percentages[5]}" *ngIf="someGraph.percentages[3]">
          <span class="percSpan">{{ someGraph.percentages[5] }}% of the time</span>
      </div>
      <div class="bar sixties" [ngStyle]="{'height.%': someGraph.percentages[6]}" *ngIf="someGraph.percentages[3]">
          <span class="percSpan">{{ someGraph.percentages[6] }}% of the time</span>
      </div>
      <div class="bar seventy" [ngStyle]="{'height.%': someGraph.percentages[7]}" *ngIf="someGraph.percentages[3]">
          <span class="percSpan">{{ someGraph.percentages[7] }}% of the time</span>
      </div>
    </div>
  </section>