
.graph-bod {
    box-sizing: border-box;
    margin: 0 auto;
    width: 92%;
    height: 400px;    
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;    
}

.bar {
    width: calc(100%/7);
    /* opacity: 0.14; */
    height: 1px;
    background: #ff4567;
}

.orange .bar {
    background: orange;    
}
.yellow .bar {
    background: yellow;        
}
.green .bar {
    background: green;            
}
.blue .bar {
    background: blue;
}
.purple .bar {
    background: purple;
}

.percSpan {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.5;
    color: #fff;
    background: #baba00;
    display: block;
    margin: -2rem auto 0;    
    text-align: center;    
}