<!-- <h2>Goal array: {{ goalArr }}</h2>
<button (click)="calcArrs()">Make new numbers</button>
<br>
<p>New numbers: {{ randodArr }}</p>
<p>JSON Stringified Goal: {{ strungDis }}</p>
<p>All of the first digits frequency(?): </p><strong>{{ calcdTotals }}</strong>
<br>
<p>Percent of frequency: </p><strong>{{ calcdPercs }}</strong> -->
<diff-graph></diff-graph>
<occ-graph></occ-graph>
<high-chart></high-chart>
<div class="flexes none">
  <div class="largest-flex">
    <h3>Smallest numbers</h3>
    <div>
      <strong>first Set</strong>
      <p>{{ firstSmallest }}</p>
    </div>
    <div>
      <strong>second Set</strong>
      <p>{{ secondSmallest }}</p>
    </div>
    <div>
      <strong>third Set</strong>
      <p>{{ thirdSmallest }}</p>
    </div>
    <div>
      <strong>fourth Set</strong>
      <p>{{ fourthSmallest }}</p>
    </div>
    <div>
      <strong>fifth Set</strong>
      <p>{{ fifthSmallest }}</p>
    </div>
    <div>
      <strong>sixth Set</strong>
      <p>{{ sixthSmallest }}</p>
    </div>
  </div>

  <div class="largest-flex">
    <h3>Largest numbers</h3>
    <div>
      <strong>first Set</strong>
      <p>{{ firstLargest }}</p>
    </div>
    <div>
      <strong>second Set</strong>
      <p>{{ secondLargest }}</p>
    </div>
    <div>
      <strong>third Set</strong>
      <p>{{ thirdLargest }}</p>
    </div>
    <div>
      <strong>fourth Set</strong>
      <p>{{ fourthLargest }}</p>
    </div>
    <div>
      <strong>fifth Set</strong>
      <p>{{ fifthLargest }}</p>
    </div>
    <div>
      <strong>sixth Set</strong>
      <p>{{ sixthLargest }}</p>
    </div>
  </div>

  <div class="largest-flex">
    <h3>Modes</h3>
    <div>
      <strong>first mode</strong>
      <p>{{ firstMode }}</p>
    </div>
    <div>
      <strong>second mode</strong>
      <p>{{ secondMode }}</p>
    </div>
    <div>
      <strong>third mode</strong>
      <p>{{ thirdMode }}</p>
    </div>
    <div>
      <strong>fourth mode</strong>
      <p>{{ fourthMode }}</p>
    </div>
    <div>
      <strong>fifth mode</strong>
      <p>{{ fifthMode }}</p>
    </div>
    <div>
      <strong>sixth mode</strong>
      <p>{{ sixthMode }}</p>
    </div>
  </div>
</div>
<!-- <div class="binder">
  <div class="staple">
    <graph-box [someGraph]="allNumbs.firstDigits" color="red"></graph-box>
  </div>
  <div class="staple">
    <graph-box [someGraph]="allNumbs.secondDigits" color="orange"></graph-box>
  </div>
  <div class="staple">
    <graph-box [someGraph]="allNumbs.thirdDigits" color="yellow"></graph-box>
  </div>
  <div class="staple">
    <graph-box [someGraph]="allNumbs.fourthDigits" color="green"></graph-box>
  </div>
  <div class="staple">
    <graph-box [someGraph]="allNumbs.fifthDigits" color="blue"></graph-box>
  </div>
  <div class="staple">
    <graph-box [someGraph]="allNumbs.sixthDigits" color="purple"></graph-box>
  </div>
</div>

<section class="none">
  <div id="help" *ngFor="let ti of trashIter">  
    <span class="date">{{ ti[0] | date:'MM/dd/yyyy' }}: </span>
    <span class="one">{{ ti[1] }}, </span>
    <span class="two">{{ ti[2] }}, </span>
    <span class="three">{{ ti[3] }}, </span>
    <span class="four">{{ ti[4] }}, </span>
    <span class="five">{{ ti[5] }}, </span>
    <span class="six">{{ ti[6] }}</span>
  </div>
</section>
<br> -->
<!-- <textarea name="" id="ta" cols="40" rows="40">

</textarea> -->