<header class="flexor">
  <div class="circle bold">
    <span class="off-kilter">The</span>
  </div>
  <div class="circle bold">L</div>
  <div class="circle bold">O</div>
  <div class="circle bold">T</div>
  <div class="circle bold">T</div>
  <div class="circle bold">O</div>
</header>

<section class="the-info">
  <div class="rules">
    <h2>The Rules of the game.</h2>
    <p>
      The first five digits can be an unique number between 1 and 70.    
    </p>
    <p>
      The last number is a digit between 1 and 25 and does not have to be unique to the previous five numbers.
    </p>
  </div>
  <div class="the-why">
    <h3>If I were wise I'd see a trend.</h3>
    <p>
      Currently the odds for winning this lottery are 302,575,350 to 1. Creating a JS function to create an array populated with Math.random() numbers with the rules above should lead to roughly those same odds.
    </p>
    <p>
      These charts and graphs are meant to visualize the past winning sets to see if there's any sort of correlation in them.
    </p>      
    <p>
      The purpose isn't to write a function that merely gives you an array exactly equal to one of the winning sets, but to write a more general function that takes significantly fewer than 300,000,000 tries to match a given winning set. Ideally, any function that can consistently match a winning set within a few hundred tries is hopefully also spitting out future winning sets and possibly evening the odds of winning.
    </p>        
  </div>
  <div class="the-where">
    <h3>Progress</h3>
    <p>
      So far, no attempt has yet been made here to write such a function using the given data as I feel there are too few relationships visualized, for now, to come up with a meaningful function.
    </p>
    <p>
      As is, the below charts are merely a few relationships that I felt were worth looking into.
    </p>
  </div>
</section>

<section class="highs-lows-modes hchart">
  <div class="chart-desc">
    <h4>Highs, Lows, and Modes</h4>
    <p>
      The simplest one is used to find the lowest, highest, and most frequent number found in a given index of a winning set.
    </p>
    <p>
      This should help us, even if just a little, narrow the range of what value a particular index should be.
    </p>
  </div>
  <high-chart chart="hlm" [options]="highsLowsModesOpts"></high-chart>
</section>

<section class="occurences hchart">
  <div class="chart-desc">
    <h4>How many times do we even see that number?</h4>
    <p>
      Even though we may already of the mode, it may be helpful to know what other numbers like to frequently show themselves.
    </p>    
  </div>
  <high-chart chart="occs" [options]="occsOpts"></high-chart>
</section>

<section class="differences hchart">
  <div class="chart-desc">
    <h4>arr[4] - arr[3], arr[3] - arr[2], and so on...</h4>
    <p>
      I have no idea if finding the differences between to neighboring indices is actually useful. 
    </p>
    <p>
      But, it does show that the first two numbers in a set probably shouldn't be more than 53 numbers apart.
    </p>    
  </div>
  <high-chart chart="diffs" [options]="diffOpts"></high-chart>
</section>
